@model ConverterViewModel 

 <form asp-controller="Conversion" asp-action="ConvertTemp" method="POST">
        <!--Borrowed from W3 school (froms) -->

  Value to Convert:<br>
  <input type="text" asp-for="@Model.ValuetoConvert" >
  <br>
  Conversion Type:<br>
  <select asp-for="@Model.ConversionType">
      <option value = "CtoF">Celcius to Fahrenheit</option>
      <option value = "CtoK">Celcius to Kelvin</option>
      <option value = "FtoC">Fahrenheit to Celcius</option>
      <option value = "FtoK">Fahrenheit to Kelvin</option>     
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form> 

